html, body {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#e5e7e7), to(#dbd9d9));
    background: -webkit-linear-gradient(top left, #e5e7e7, #dbd9d9);
    background: -moz-linear-gradient(top left, #e5e7e7, #dbd9d9);
    background: -o-linear-gradient(top left, #e5e7e7, #dbd9d9);
    background: -ms-linear-gradient(top left, #e5e7e7, #dbd9d9);
    background: linear-gradient(to bottom right, #e5e7e7, #dbd9d9);
}
html:hover, body:hover {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#dbd9d9), to(#e5e7e7));
    background: -webkit-linear-gradient(top left, #dbd9d9, #e5e7e7);
    background: -moz-linear-gradient(top left, #dbd9d9, #e5e7e7);
    background: -o-linear-gradient(top left, #dbd9d9, #e5e7e7);
    background: -ms-linear-gradient(top left, #dbd9d9, #e5e7e7);
    background: linear-gradient(to bottom right, #dbd9d9, #e5e7e7);
}
/* Card Movement on Hover */
.pop {
    transition: all 0.2s ease;
    cursor: pointer
}
.pop:hover {
    transform: scale(1.01);
}
/* Similar to pop just more */
.grow-sm:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
.grow:hover {
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.grow-lg:hover {
    cursor: pointer;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}
/* Opposite to grow */
.shrink-sm:hover {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97);
}
.shrink:hover {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}
.shrink-lg:hover {
    -webkit-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
}
/* Change to cirle on hover */
.circle:hover {
    border-radius:50%;
}
/* Simple Fade */
.fade-less {
    opacity:0.1;
}
.fade {
    opacity:0.5;
}
.fade-more {
    opacity:0.8;
}
.fade:hover,
.fade-less:hover,
.fade-more:hover {
    opacity:1;
}

/* Loading Spinner */
/* Keyframe */
.loading {
    width:40px;
    height:40px;
    border:4px solid #fcd779;
    border-top:4px solid white;
    border-radius:50%;
    position:absolute;
    top:80px;
    margin-left:-24px;
    left:25%;
    transition-duration: 1.2s;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1.2s;
    -webkit-animation-name: rotate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    
    -moz-transition-property: -moz-transform;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1.2s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    
    transition-property: transform;
    animation-name: rotate; 
    animation-duration: 1.2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* Wobble an element */
/* Keyframe */
.wiggle {
    animation: wiggle 2s linear;
    animation-iteration-count: 2;
}
.wiggle-sm {
    animation: wiggle-sm 1.6s linear;
    animation-iteration-count: 2;
}
/* Shake from side to side */
/* Keyframe */
.swing-less-hover:hover {
    -webkit-animation: swing-less 1s ease;
    animation: swing-less 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.swing-less {
    -webkit-animation: swing-less 1s ease;
    animation: swing-less 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.swing-hover:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.swing {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.fade-in {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.fade-in span {
    transition: all 0.3s;
}
.fade-in::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}
.fade-in:hover span {
    letter-spacing: 2px;
}
.fade-in:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}
.fade-in::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}
.fade-in:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}
.tunnel {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
}
.tunnel::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}
.tunnel:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}
.tunnel::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}
.tunnel:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}
.top:active {
    top: 2px;
}        
.btn-nbs,
.btn-nbs-sm {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.btn-nbs-sm {
    padding: 7px 30px !important;
    font-weight: 400 !important;
}
.btn-nbs:after,
.btn-nbs-sm {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
/* Pseudo elements for icons */
.btn-nbs:before ,
.btn-nbs-sm:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
  
/* Keyframes */
@keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}
@keyframes wiggle-sm {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-3deg);
    }
    20% {
      transform: rotateZ(3deg);
    }
    25% {
      transform: rotateZ(-2deg);
    }
    30% {
      transform: rotateZ(2deg);
    }
    35% {
      transform: rotateZ(-1deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
}
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@-webkit-keyframes swing
{
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes swing-less
{
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    30% {
        -webkit-transform: translateX(-3px);
       transform: translateX(-3px);
    } 
    50% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    65% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    80% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing-less
{
    15% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    30% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    50% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    65% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }
    80% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

