/* UI Colour Schemes with Bootstrap style class names for background, text and elements like btn */
/* General */
.bg-muted {
    background-color: #e5e7e7 !important;
}
/* Scheme 1 */
/* Backgrounds */
.bg-mars {
    background-color: #e27d60 !important;
}
.bg-neptune {
    background-color: #85d3cb !important;
}
.bg-mercury {
    background-color: #e8a87a !important;
}
.bg-saturn {
    background-color: #c38d9e !important;
}
.bg-uranus {
    background-color: #41b3a3 !important;
}
/* Foregrounds */
.text-mars {
    color: #e27d60 !important;
}
.text-neptune {
    color: #85d3cb !important;
}
.text-mercury {
    color: #e8a87a !important;
}
.text-saturn {
    color: #c38d9e !important;
}
.text-uranus {
    color: #41b3a3 !important;
}
/* Buttons */
.btn-mars {
    background-color: #e27d60 !important;
    border-color: #e27d60 !important;
}
.btn-neptune {
    background-color: #85d3cb !important;
    border-color: #85d3cb !important;
}
.btn-mercury {
    background-color: #e8a87a !important;
    border-color: #e8a87a !important;
}
.btn-saturn {
    background-color: #c38d9e !important;
    border-color: #c38d9e !important;
}
.btn-uranus {
    background-color: #41b3a3 !important;
    border-color: #41b3a3 !important;
}
/* Scheme 2 */
/* Backgrounds */
.bg-steel {
    background-color: #2c3531 !important;
}
.bg-sapphire {
    background-color: #116466 !important;
}
.bg-tan {
    background-color: #d9b08c !important;
}
.bg-peach {
    background-color: #ffcb9a !important;
}
.bg-platinum {
    background-color: #d1e8e2 !important;
}
/* Foregrounds */
.text-steel {
    color: #2c3531 !important;
}
.text-sapphire {
    color: #116466 !important;
}
.text-tan {
    color: #d9b08c !important;
}
.text-peach {
    color: #ffcb9a !important;
}
.text-platinum {
    color: #d1e8e2 !important;
}
/* Buttons */
.btn-steel {
    background-color: #2c3531 !important;
    border-color: #2c3531 !important;
}
.btn-sapphire {
    background-color: #116466 !important;
    border-color: #116466 !important;
}
.btn-tan {
    background-color: #d9b08c !important;
    border-color: #d9b08c !important;
}
.btn-peach {
    background-color: #ffcb9a !important;
    border-color: #ffcb9a !important;
}
.btn-platinum {
    background-color: #d1e8e2 !important;
    border-color: #d1e8e2 !important;
}
/* Scheme 3 */
/* Backgrounds */
.bg-night {
    background-color: #272727 !important;
}
.bg-dusk {
    background-color: #747474 !important;
}
.bg-seville {
    background-color: #ff652f !important;
}
.bg-vivid {
    background-color: #ffe400 !important;
}
.bg-jade {
    background-color: #14a76c !important;
}
/* Foregrounds */
.text-night {
    color: #272727 !important;
}
.text-dusk {
    color: #747474 !important;
}
.text-seville {
    color: #ff652f !important;
}
.text-vivid {
    color: #ffe400 !important;
}
.text-jade {
    color: #14a76c !important;
}
/* Buttons */
.btn-night {
    background-color: #272727 !important;
    border-color: #272727 !important;
}
.btn-dusk {
    background-color: #747474 !important;
    border-color: #747474 !important;
}
.btn-seville {
    background-color: #ff652f !important;
    border-color: #ff652f !important;
}
.btn-vivid {
    background-color: #ffe400 !important;
    border-color: #ffe400 !important;
}
.btn-jade {
    background-color: #14a76c !important;
    border-color: #14a76c !important;
}
/* Scheme 4 */
/* Backgrounds */
.bg-eggshell {
    background-color: #eae7dc !important;
}
.bg-caffe {
    background-color: #d8c3a5 !important;
}
.bg-taupe {
    background-color: #8e8d8a !important;
}
.bg-sauce {
    background-color: #e98074 !important;
}
.bg-beans {
    background-color: #e85a4f !important;
}
/* Foregrounds */
.text-eggshell {
    color: #eae7dc !important;
}
.text-caffe {
    color: #d8c3a5 !important;
}
.text-taupe {
    color: #8e8d8a !important;
}
.text-sauce {
    color: #e98074 !important;
}
.text-beans {
    color: #e85a4f !important;
}
/* Buttons */
.btn-eggshell {
    background-color: #eae7dc !important;
    border-color: #eae7dc !important;
}
.btn-caffe {
    background-color: #d8c3a5 !important;
    border-color: #d8c3a5 !important;
}
.btn-taupe {
    background-color: #8e8d8a !important;
    border-color: #8e8d8a !important;
}
.btn-sauce {
    background-color: #e98074 !important;
    border-color: #e98074 !important;
}
.btn-beans {
    background-color: #e85a4f !important;
    border-color: #e85a4f !important;
}
/* Scheme 5 */
/* Backgrounds */
.bg-sand {
    background-color: #fbe8a6 !important;
}
.bg-desert {
    background-color: #f4976c !important;
}
.bg-navy {
    background-color: #303c6c !important;
}
.bg-cool {
    background-color: #b4dfe5 !important;
}
.bg-glacier {
    background-color: #d2fdff !important;
}
/* Foregrounds */
.text-sand {
    color: #fbe8a6 !important;
}
.text-desert {
    color: #f4976c !important;
}
.text-navy {
    color: #303c6c !important;
}
.text-cool {
    color: #b4dfe5 !important;
}
.text-glacier {
    color: #d2fdff !important;
}
/* Buttons */
.btn-sand {
    background-color: #fbe8a6 !important;
    border-color: #fbe8a6 !important;
}
.btn-desert {
    background-color: #f4976c !important;
    border-color: #f4976c !important;
}
.btn-navy {
    background-color: #303c6c !important;
    border-color: #303c6c !important;
}
.btn-cool {
    background-color: #b4dfe5 !important;
    border-color: #b4dfe5 !important;
}
.btn-glacier {
    background-color: #d2fdff !important;
    border-color: #d2fdff !important;
}
/* Scheme 6 */
/* Backgrounds */
.bg-burg {
    background-color: #501f3a !important;
}
.bg-crimson {
    background-color: #cb2d6f !important;
}
.bg-concrete {
    background-color: #cccccc !important;
}
.bg-viridian {
    background-color: #14a098 !important;
}
.bg-coal {
    background-color: #0f292f !important;
}
/* Foregrounds */
.text-burg {
    color: #501f3a !important;
}
.text-crimson {
    color: #cb2d6f !important;
}
.text-concrete {
    color: #cccccc !important;
}
.text-viridian {
    color: #14a098 !important;
}
.text-coal {
    color: #0f292f !important;
}
/* Buttons */
.btn-burg {
    background-color: #501f3a !important;
    border-color: #501f3a !important;
}
.btn-crimson {
    background-color: #cb2d6f !important;
    border-color: #cb2d6f !important;
}
.btn-concrete {
    background-color: #cccccc !important;
    border-color: #cccccc !important;
}
.btn-viridian {
    background-color: #14a098 !important;
    border-color: #14a098 !important;
}
.btn-coal {
    background-color: #0f292f !important;
    border-color: #0f292f !important;
}
/* Scheme 7 */
/* Backgrounds */
.bg-orchid {
    background-color: #a64ac9 !important;
}
.bg-tangerine {
    background-color: #fccd04 !important;
}
.bg-blush {
    background-color: #ffb48f !important;
}
.bg-latte {
    background-color: #f5e6cc !important;
}
.bg-turquoise {
    background-color: #17e9e0 !important;
}
/* Foregrounds */
.text-orchid {
    color: #a64ac9 !important;
}
.text-tangerine {
    color: #fccd04 !important;
}
.text-blush {
    color: #ffb48f !important;
}
.text-latte {
    color: #f5e6cc !important;
}
.text-turquoise {
    color: #17e9e0 !important;
}
/* Buttons */
.btn-orchid {
    background-color: #a64ac9 !important;
    border-color: #a64ac9 !important;
}
.btn-tangerine {
    background-color: #fccd04 !important;
    border-color: #fccd04 !important;
}
.btn-blush {
    background-color: #ffb48f !important;
    border-color: #ffb48f !important;
}
.btn-latte {
    background-color: #f5e6cc !important;
    border-color: #f5e6cc !important;
}
.btn-turquoise {
    background-color: #17e9e0 !important;
    border-color: #17e9e0 !important;
}
/* Button Text Colours */
.btn-mars, .btn-mars:hover,
.btn-mercury, .btn-mercury:hover,
.btn-neptune, .btn-neptune:hover,
.btn-saturn, .btn-saturn:hover,
.btn-uranus, .btn-uranus:hover,
.btn-steel, .btn-steel:hover,
.btn-sapphire, .btn-sapphire:hover,
.btn-tan, .btn-tan:hover,
.btn-night, .btn-night:hover,
.btn-dusk, .btn-dusk:hover,
.btn-seville, .btn-seville:hover,
.btn-vivid, .btn-vivid:hover,
.btn-jade, .btn-jade:hover,
.btn-taupe, .btn-taupe:hover,
.btn-sauce, .btn-sauce:hover,
.btn-beans, .btn-beans:hover,
.btn-sand, .btn-sand:hover,
.btn-desert, .btn-desert:hover,
.btn-navy, .btn-navy:hover,
.btn-burg, .btn-burg:hover,
.btn-crimson, .btn-crimson:hover,
.btn-coal, .btn-coal:hover,
.btn-viridian, .btn-viridian:hover,
.btn-orchid, .btn-orchid:hover,
.btn-blush, .btn-blush:hover,
.btn-caffe, .btn-caffe:hover,
.btn-tangerine, .btn-tangerine:hover {
    color: #ffffff !important;
}
.btn-peach, .btn-peach:hover,
.btn-platinum, .btn-platinum:hover,
.btn-eggshell, .btn-eggshell:hover,
.btn-sand, .btn-sand:hover,
.btn-cool, .btn-cool:hover,
.btn-glacier, .btn-glacier:hover,
.btn-concrete, .btn-concrete:hover,
.btn-latte, .btn-latte:hover,
.btn-turquoise, .btn-turquoise:hover {
    color: #2c3531 !important;
}


